.create-flex
  display flex
  align-items center
  border 1px solid #e3e4e9
  margin-bottom 32px
  padding 24px
  
  .create-icon
    margin-right 32px
  .create-type
    .create-group
      color rgba(0,0,0,.85)
      font-size 14px
      font-weight 500 
      .create-descr
        color rgba(0,0,0,.65) 
.ant-modal-footer
  border 0px

.page-group
  height 100%

  .list-content
    margin 16px
    background-color #ffffff
    min-height calc(100% - 88px)