.tql
  position relative

  .header-button
    top -37px
    text-align right
    position absolute
    right 0

  .tql-content
    display flex
    border 1px solid #d9d9d9
    height calc(100vh - 92px)

  