.label-item {
  width: 100%
  overflow: hidden
  display: flex
  margin-bottom: 14px

  .label-item-value {
    max-width: calc(100% - 130px)
    overflow: hidden
    vertical-align: middle
    padding-left: 6px
    color: rgba(0, 0, 0, 0.64)
    text-overflow: ellipsis
    white-space: wrap
    word-break: break-all
  }

  .label-item-label{
    text-align: left
    color: rgba(0, 0, 0, 0.84)
  }
}