.page-unit
  height 100%
  .list-content
    margin 16px
    background-color #ffffff
    min-height 100%

    .button-box
      margin-top 24px
      .ant-btn-primary
        margin-right 24px
      