.contrast-header
  line-height 56px
  font-size 16px
  padding-left 16px
  background #fff
  color rgba(0,0,0,0.85)

.contrast-search
  padding 16px
  background #ffffff
  color rgba(0,0,0, .85)

.contrast-venn
  margin 16px
  background #ffffff
  display flex

.bullet
  // height 80px
  display flex
  padding 30px 16px

  .bullet-name
    text-align right
    color rgba(0,0,0, .65)

.contrast-action
  text-align right
  padding 0 16px
  margin-bottom 16px

.group-contrast
  // margin 0px 8px
  // padding-top 8px
  padding 24px 0px 0px 24px
  position relative

  .chart-content
    overflow hidden

    .chart-wrap
      // margin 0 8px
      overflow hidden
      float left
      width 50%
      margin-bottom 24px

    .chart-box
      border 1px solid rgba(0, 0, 0, .1)
      background #ffffff
      // margin 0 8px
      margin-right 24px
      
    .chart-item-title
      padding 0 16px
      line-height 32px
      display flex
      flex-direction row
      justify-content space-between
      border-bottom 1px solid rgba(0, 0, 0, .1)

      span 
        line-height 32px
        font-size 14px

      .action
        color #919eab
        transition all 0.2s linear

      .action:hover
        color #2994ff

 
