.scene-wrap
  height 100%

  // .header
  //   background #fff
  //   font-size 14px
  //   color rgba(0, 0, 0, .85)
  //   padding 20px 16px

  .scene-box
    background #F4F6F9
    padding 16px
    min-height calc(100vh - 110px)

  .card
    .i-used
      height 14px
      color  rgba(145, 158, 171, .5)

  // 覆盖DtDrid hover效果属性; DtDrid组件需要优化
  .dt-grid .dt-row .dt-item
    border-radius 4px
    -webkit-transition all .2s linear
    transition all .2s linear
    
    &:not(.dt-grid-empty):hover
      -webkit-box-shadow 0px 3px 10px #DDE0E4
      box-shadow 0px 3px 10px #DDE0E4
      -webkit-transform translate3d(0, -2px, 0)
      transform translate3d(0, -2px, 0)
    
