.group-detail
  height 100%
  .h-254
    min-height calc(100vh - 254px)
  .detail-h
    position relative
    background-color #fff
  .u-base-info
    margin-left 256px

  .list-content
    margin-top 24px
    .comp-list-content .table
      padding 0
  .ant-tabs-nav-list
    padding-left 24px
    margin-bottom 0px
  .time-range-wrap
    margin-top -77px
    margin-bottom 0px
  .detail-header
    margin-bottom 24px
    .detail-name
      .ml10 
        margin 0
  .detail-action
    font-size 12px
    color rgba(0,0,0,.65)
    position absolute
    top 86px
    left 24px
    width 176px
    height 70px
    padding 8px 16px
    background-color rgba(243,244,249,.8)
    .fz24
      font-size 24px
      color #2466ff