.rule-create
  min-height calc(100% - 32px)
  margin 16px
  padding 24px
  background-color #fff
  .mt100
    margin-top 100px

  .steps-action
    margin-top 100px
    text-align center

  .step-three
    .ant-legacy-form-item-children
      display block
      .ant-picker
        width 100%
.modal-content
  height 100px
  width 200px
  text-align center
  margin 0 auto
  .tip-text
    margin-top 16px

      