.rule-create
  min-height calc(100% - 32px)
  margin 16px
  padding 24px
  background-color #fff
  position relative

  .step-three
    .ant-legacy-form-item-children
      display block
      .ant-picker
        width 100%
.modal-content
  height 100px
  width 200px
  text-align center
  margin 0 auto
  .tip-text
    margin-top 16px

.step-one
  calc(100% - 56px)
  padding-top 80px

.step-two
  calc(100% - 56px)
  padding-top 30px

.step-three
  calc(100% - 56px)
  padding-top 80px

.steps-action
  position absolute
  left 0
  bottom 0
  width 100%
  border-top 1px solid #e9e9e9
  padding 10px 16px
  background #fff
  text-align center