.page-project
  height 100%

  .list-content
    margin 16px
    background-color #ffffff
    min-height calc(100% - 88px)

.project-config
  // padding 16px
  height 100%

  .list-content
    margin 16px 
    // padding-top 16px 
    background #ffffff
    min-height calc(100vh - 204px) 

    .comp-tab
      margin-bottom 16px

    .alert-info
      margin 16px 24px 0px