.tag
  padding 2px 8px
  border-radius 4px
  font-size 12px
  display inline-block
  white-space nowrap

 
.default
  color rgba(0, 0 ,0, .5)
  bsackground rgba(0, 0, 0, 0.04)
  border 1px solid rgba(0, 0, 0, .2)


.process
  color #1890FF
  background #E6F7FF
  border 1px solid #91D5FF
 

.success 
  color #52C41A
  background #F6FFED
  border 1px solid #B7EB8F
 

.wait 
  color rgba(0, 0 ,0, .65)
  background #FFF
  border 1px solid rgba(0, 0 ,0, .25)

.error
  color #f5222d
  background #fff1f0
  border 1px solid #ffa39e
 
    


 