.category-tree
  .category-manager-action
    background-color #f0f2f4
  .dt-tree-container
    background-color #fff

.select-tag-box
  overflow-y auto
  padding-top 16px

.select-tag-modal
  height calc(100vh - 150px)
  display flex

  .all
    padding-left 26px

  .select-tree
    width 220px
    // padding 8px 0px
    border 1px solid rgba(0, 0, 0, .1)
    border-radius 4px
    margin-right 16px
    height calc(100% - 48px)
    overflow-y auto

  .select-tree-header 
    display flex
    background #f0f2f4
    align-items center
    margin-bottom 8px

  .select-tag-list
    height calc(100% - 48px)
    border-radius 4px
    margin-left 16px
    border 1px solid rgba(0, 0, 0, .1)
    position relative
    overflow-y auto
    
  .select-tag-search
    position absolute
    top -40px
    right 0

  // .table-tree
  //   margin-left 16px
  //   border 1px solid rgba(0, 0, 0, .1)
  //   border-radius 4px


  .select-tag-btn
    position relative
    top 50% /*偏移*/
    margin-top -50px
    height 30px