.analyze-search
  // padding 16px
  font-size 16px
  padding 16px 0 16px 16px
  background #ffffff
  color rgba(0,0,0, .85)
  display flex
  flex-direction row
  justify-content space-between
  margin-bottom 16px

.analyze-action
  display flex
  flex-direction row
  justify-content space-between
  padding 0 16px
  line-height 56px
  font-size 14px
  color rgba(0,0,0, .85)
  // margin 0px 8px
  // border 1px solid #f0f0f0
  // border-bottom 0


.analyze-roportion
  position relative
  background #ffffff
  margin 0 16px 16px

  .analyze-roportion-name
    padding 8px 0 16px 24px
    font-size 14px
    color rgba(0,0,0,.85)
    border-bottom 1px solid #ddd

  .analyze-roportion-text
    position absolute
    left 150px
    bottom 50px

  .analyze-roportion-time
    position absolute
    right 24px
    bottom 24px

.group-analyze
  // margin 0px 8px
  // padding-top 8px
  position relative

  .chart-content
    overflow hidden
    padding 24px 0px 0px 24px

    .chart-wrap
      // margin 0 8px
      overflow hidden
      float left
      width 50%
      margin-bottom 24px

    .chart-box
      border 1px solid rgba(0, 0, 0, .1)
      background #ffffff
      // margin 0 8px
      margin-right 24px
      
    .chart-item-title
      padding 0 16px
      line-height 32px
      display flex
      flex-direction row
      justify-content space-between
      border-bottom 1px solid rgba(0, 0, 0, .1)

      span 
        line-height 32px
        font-size 14px

      .action
        color #919eab
        transition all 0.2s linear

      .action:hover
        color #2994ff

 
