.visual
  position relative
  height calc(100vh - 92px)

  .header-button
    top -37px
    text-align right
    position absolute
    right 0

  .visual-tree
    width 200px
    border-top 1px solid #dddddd

  .visual-tree-action
    display flex
    align-items center
    padding-left 8pxc
    background-color #f0f2f4

.visual-content-warp
  flex 1

  .code-menu
    height 35px
    line-height 35px
    
.visual-content
  display flex
  height 100%
  border-left 1px solid #dddddd
  position relative
  
  .ant-spin-nested-loading
    width 100%

  .visual-config
    flex 1
    padding 16px

  .ant-menu
    width 36px
    background #f8f8f8

  .ant-menu-item
    writing-mode vertical-rl
    letter-spacing 4px
    text-align center
    padding-left 20px !important
    width 30px
    height 100px
    line-height 10px
    margin-top 0px

  .visual-content-menu
    border-right 1px solid #e8e8e8

  .search-result
    position absolute
    width 100%
    background #ffffff
    z-index 100
    bottom 16px
    left 0px

    .search-result-header
      background #f8f8f8
      height 30px
      line-height 30px
      border-top 1px solid #dddddd

      .result-header-text
        width 88px
        color #2466FF
        background #ffffff
        text-align center

      .result-header-icon
        position absolute
        top 0
        right 16px
        
        img 
          width 16px
          height 16px
          cursor pointer

  .hide-result
    bottom 38px