.analyze-search
  padding 16px
  background #fff

.analyze-roportion
  position relative

  .analyze-roportion-text
    position absolute
    left 150px
    top 50px

.group-analyze
  margin 16px
  padding 16px
  background-color #fff
  position relative
  // min-height 

  .chart-title
    display flex
    flex-direction row
    justify-content space-between

  .chart-content
    overflow hidden

  .chart-item
    width 50%
    float left
