.config
  height 100%  
  margin 24px
  .back-config
    height 100%
    background-color #fff
    padding 48px  

    .cloud-config
      width 600px

    .config-title
      color rgba(0,0,0,.85)
      font-weight 500
      margin-bottom 2em
    .entity-config
      .table
        padding 0
      .button-box
        margin 0 0 8px 0

.h96
  .ant-select-selector
    height 96px
    .ant-select-selection-placeholder
      top 16px
