.config
  height 100%  
  margin 16px
  .back-config
    height 100%
    background-color #fff
    padding 24px  

    .cloud-config
      width 600px

    .config-title
      color rgba(0,0,0,.85)
      font-weight 500
      margin-bottom 2em
      font-size 14px
    .entity-config
      .table
        padding 0
      .button-box
        margin 0 0 8px 0

.h96
  .ant-select-selector
    .ant-select-selection-placeholder
      top 16px
