.visual-detail
  position relative
  // height calc(100vh - 50px)
  background #ffffff

  .ant-tabs-bar
    margin-bottom 0px

  .header-button
    top 20px
    text-align right
    position absolute
    right 0

  .visual-tree
    width 200px
    border-top 1px solid #dddddd
    height 100%
    overflow auto

  .visual-tree-action
    display flex
    align-items center
    padding-left 8pxc
    background-color #f0f2f4

  .visual-content-warp
    flex 1

    .code-menu
      height 35px
      line-height 35px
      border-bottom none
      border-top none
      cursor pointer
      background #f8f8f8
      padding-left 30px
      display flex
      border 1px solid #d9d9d9
      border-right 0
      font-size 12px

    .code-menu-item
      // padding 8px 8px 8px 16px
      font-size 12px
      color rgba(0,0,0,.65)
      cursor pointer

    // .code-menu-item:hover  
    //   color #2994ff

    img 
      width 14px
      height 14px
      margin-right 4px
      margin-bottom 2px
      
  .visual-content
    display flex
    height calc(100% - 36px)
    border-left 1px solid #dddddd
    position relative

    .visual-config
      flex 1
      padding 16px
      overflow auto
      padding-bottom 50px

    .ant-form-item
      margin-bottom: 16px !important

    .ant-menu
      width 36px
      background #f8f8f8

    .ant-menu-item
      writing-mode vertical-rl
      letter-spacing 4px
      text-align center
      padding-left 20px !important
      width 30px
      height 100px
      line-height 10px
      margin-top 0px

    .visual-content-menu
      border-right 1px solid #e8e8e8

    .search-result
      position absolute
      width 100%
      background #ffffff
      z-index 100
      bottom 0px
      left 0px

      .drag-bottom 
        position absolute
        width 100%
        height 5px
        top 0
        left 0
        z-index 2
        cursor ns-resize

      .search-result-header
        background #f8f8f8
        height 30px
        line-height 30px
        border-top 1px solid #dddddd

        .result-header-text
          width 88px
          color #2466FF
          background #ffffff
          text-align center

        .result-header-icon
          position absolute
          top 0
          right 16px
          
          img 
            width 16px
            height 16px
            cursor pointer

    .hide-result
      bottom 0px