.rule-if-box
  position relative
  margin-bottom 16px
  height 130px

  .rule-if-content 
    position absolute
    top 0
    
.rule-item
   position absolute
   display flex
   width 600px

   .rule-item-action
      position absolute
      top 12px
      right -16px
      color #919eab
      font-size 14px

.rule-condition
   position absolute

   .delete-icon
     color #919eab
     font-size 14px
     bottom -16px
     left 16px

.rule-select-action
  height 16px
  width 16px
  border 1px solid #d9d9d9
  text-align center
  line-height 8px
  border-radius 10px
  margin-top 7px
  /* margin-left 4px */
  cursor pointer

 
 .abs
   position absolute