.rule-if-box
  position relative
  height 50px

  .rule-add-btn
     position absolute
     top -52px
     right 0

  .rule-if-content 
    position absolute
    top 0
    
.rule-item
   position absolute
   display flex
   width 1000px
 

.rule-condition
   position absolute

   .delete-icon
     color #919eab
     font-size 14px
     bottom -16px
     left 16px

.rule-select-action
  height 16px
  width 16px
  border 1px solid #d9d9d9
  text-align center
  line-height 8px
  border-radius 10px
  margin-top 7px
  /* margin-left 4px */
  cursor pointer

 
 .abs
   position absolute



.group
  position relative

.group-combine
  width 90%
  padding 0 24px
  position relative

.group-item
  margin-bottom 24px
  position relative

  .line
    position absolute
    width 50px
    height 1px
    background #dddddd
    top 21px
    left -50px

.group-item-header
    background rgba(243,244,249,0.80)
    line-height 42px
    padding 0 16px
    font-size 14px
    color rgba(0, 0, 0, .65)

  .group-item-content
    padding 16px
    background rgba(243,244,249,0.40)
    position relative


.wrap-rule-condition
   position absolute
   border-left 1px solid #dddddd
   width 50px

   .wrap-rule-condition-btn
      position absolute
      left -22px
      z-index 100

   .wrap-rule-condition-line
      position absolute
      width 70px
      height 1px
      background #d9d9d9
      left -70px

.set-rule

   .bottom-button
    position absolute
    left 0
    bottom 0
    width 100%
    border-top 1px solid #e9e9e9
    padding 10px 16px
    background #fff
    text-align right
