.config
  min-height: calc(100vh - 80px)
  margin 16px
  .back-config
    padding 24px  

    .cloud-config
      width 600px

    .config-title
      color rgba(0,0,0,.85)
      font-weight 500
      margin-bottom 2em
      font-size 14px
    .entity-config
      .table
        padding 0
      .button-box
        margin 0 0 8px 0

.img-tooltip
  .ant-legacy-form-extra
    margin-top -20px
