.config
  min-height: calc(100vh - 137px)
  margin 16px

  .back-config
    padding 24px  

    .config-df
      display flex
      justify-content space-between
    .cloud-config
      width 560px

    .config-title
      color rgba(0,0,0,.85)
      font-weight 500
      margin-bottom 12px
      font-size 14px
    .entity-config
      .table
        padding 0
      .button-box
        margin 0 0 16px 0

