// @import '../code-component/flexgrid.css'

activeColor = #5182e4;
/*iconfont*/
.dtwave {
  font-family:"ide-icon" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tql-content
// 标签 & 函数树
  .processe-tree
    // height calc(100vh - 235px)
    border 1px solid #d9d9d9
    border-right 0
    width 200px

   .ant-tabs-tab
     padding 10px 16px
     font-size 12px

  .tree-action
    display flex
    align-items center
    padding-left 8px
    background-color #f0f2f4

// 代码编辑模块
  .code-content
    flex 1
    // height calc(100vh - 235px) 
    // width 640px

  .code-menu
    height 38px
    line-height 38px
    border-bottom none
    border-top none
    cursor pointer
    background #f8f8f8
    padding-left 36px
    display flex
    border 1px solid #d9d9d9
    border-right 0
    font-size 12px

    .code-menu-item
      color rgba(0,0,0,.65)
      cursor pointer

      i
        font-size 14px
    
    .code-menu-item:hover  
      color #2994ff
      
    img 
      width 14px
      height 14px
      margin-right 4px
      margin-bottom 2px

  .new_codearea 
    position relative
    height calc(100% - 205px)
    font-size 12px
    // width 640px 
    
  .CodeMirror
     height 100%
    .CodeMirror-scroll
      // height 200px
      .CodeMirror-sizer
        margin-left 30px !important
      .CodeMirror-linenumbers
        min-width 29px !important

      .CodeMirror-gutters
        border-right 0
        border-left 1px solid #d9d9d9

  .max_height{
    max-height: calc(100% - 68px)
  }
  .new_codearea_nolog{
    height: calc(100% - 38px)
  }
  .datax_box{
    /*width: 100%;*/
    width calc(100% - 32px)
    overflow: auto;
  }
  .running_log{
    position: relative;
    overflow: hidden;
    display: none;
    border-top: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;

    .zoomIn-log svg{
      margin-top: 4px;
    }
     
    .drag-bottom {
      position: absolute;
      width: 100%;
      height: 5px;
      top: 0;
      left: 0;
      z-index: 2;
      cursor: ns-resize;
    }
    .allwindow-button {
      position: absolute;
      z-index: 100;
      right: 0;
      top: 0px;
      height: 29px;
      border: none;
      background: #F8F8F8;
      color: #b0b0b0;
      .dtwave {
        padding-right: 6px;
        font-size: 18px;
      }
      &:hover {
        color: #57a3f1;
      }
    }
    .zoomIn-log{
      right: 60px;
      i{
        font-size: 20px;
      }
    }
    .download-log {
      right 180px
      i{
        font-size 20px
      }
    }
    .clear-log{
      position: absolute;
      top: 0;
      right: 120px;
      z-index: 100;
      height: 29px;
      border: none;
      background: #F8F8F8;
      color: #b0b0b0;
      font-size: 20px;
      &:hover {
        color: #57a3f1;
      }
    }
    /*修改运行结果过多的问题 start....*/
    .ant-tabs-bar{
      margin-bottom: 0;
      padding-right: 172px;
      background: #f9f9f9;
      border-bottom: none;
    }
    /* end....*/
    .ant-tabs-nav-wrap{
      background: #f8f8f8;
    }
    .ant-tabs.ant-tabs-card>.ant-tabs-bar .ant-tabs-nav-container{
      height: 30px !important;
    }
    .ant-tabs-bar .ant-tabs-nav .ant-tabs-tab{
      border: 1px solid #e9e9e9;
      border-top: 0;
      border-left: 0;
      border-radius: 0;
      line-height: 30px;
      padding: 0 30px;
      font-size: 12px;
      margin-right: 0;
      // color: #0078ff;
      font-weight: 500;

      .anticon-close{
        margin-top: -3px;
        font-size: 14px;
        margin-left: 0;
        position: relative;
        left: 14px;
      }
    }
    .ant-tabs-bar .ant-tabs-tab:nth-child(1){
      .anticon-close{
        display: none;
      }
    }
    /*修改运行结果过多的问题 start....*/
    .ant-tabs-tab-arrow-show{
      color: #000;
      border-right: 1px solid #d9d9d9;
      border-left: 1px solid #d9d9d9;
    }
    .ant-tabs-tab-prev{
      border-left: none;
    }
    /* end....*/
    .result-log{
      height: 100%;
      .ant-tabs-content{
        height: calc(100% - 30px)
        .ant-tabs-tabpane{
          height: 100%;
          position: relative;
        }
      }
    }

    .result-box{
      height: 100%;
      font-size: 12px;
      .ant-spin-container{
        padding: 0 8px;
        width: 100%;
      }
      table {
        border-collapse: collapse;
      }
    }
    .flexigrid{
      margin: 8px 0;
    }

    .flexigrid div.bDiv table{
      margin-bottom: 0;
    }
    // .flexigrid div.vGrip {
    //   display: none;
    // }

    .log-tab {
      height: 100%;
    }
    .pre_resize {
      word-break: break-all;
      word-wrap: break-word;
      padding: 10px 5px;
      background: #fff;
      font-size: 12px;
      height: 100%;
      overflow: auto;
    }
    .success{
      color: #3EC04D;
      padding: 10px;
    }
    .error{
      color: #FF4331;
      padding: 10px;
    }
  }   

  .show-log{
    display: block;
  }

  .all-window{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    z-index: 1000;
    height: 100% !important;
    .pre_resize{
      height: 100% !important;
    }
  }

// 参数配置
  .params-box
    width 230px
    border 1px solid #d9d9d9
    height: calc(100vh - 235px)

  .params-box-title
    background #f8f8f8
    padding-left 16px
    line-height 36px
    border-bottom 1px solid #d9d9d9
    font-size 12px

  .param-item-box
    padding 10px 16px 0

    .ant-form-item
      margin-bottom 0px !important

  .dynamic-delete-button
    flex 2
    line-height 32px
    font-size 14px
    text-align right
    height 32px
    cursor pointer
    color #999999
    margin-left 4px
    &:hover
      color activeColor
    
  .dynamic-delete-button[disabled] 
    cursor not-allowed
    opacity 0.5
    color rgba(0,0,0,.65)

  .ant-tabs-no-animation > .ant-tabs-content > .ant-tabs-tabpane-inactive
    display: none
    