.group-explain
  height calc(100vh - 48px)
  .anchor
    width 180px
    padding 16px 8px
    height calc(100vh - 48px)
  .anchor-content
    background #ffffff
    margin 16px
    flex 1
    padding 16px
    overflow-y auto
    font-size 12px

  li 
    list-style disc
    margin-left 24px