.comp-list-content 
  height 100%
  background-color #ffffff
  overflow hidden

  .table 
    padding 0 24px

  .pagination
    float right
    margin 16px 24px 0 0
    padding-bottom 24px

  .button-box
    margin 0 0 8px 24px

.comp-list-search
  padding 16px 24px 24px

