.scene-detail
  height 100%
  background #F4F6F9

  .info
    background #ffffff
    padding 16px 0px

    .name 
      font-size 16px
      color rgba(0, 0, 0, .85)
  
  .ant-tabs-nav-wrap
    padding-left 16px
    background #ffffff

  .detail-border
    border-top 1px solid rgba(0,0,0, .1)
    padding 16px 24px 0px 24px
    margin-top 16px

.select-tag 
  min-height calc(100vh - 227px)
  background #F4F6F9
  margin-top -24px
  

.data-source
  min-height calc(100vh - 227px)
  background #F4F6F9
  margin-top -24px

  .total-box
    padding 20px 16px 0 0 
    text-align right
    color rgba(0,0,0, .45)


.data-source-modal
  min-height 400px
  max-height 500px
  overflow-y auto

// .empty-box
//   height 100%
//   overflow hidden
//   padding-top 30px


  