.ant-tabs-content
  .ct-title
    font-size 14px
    margin-bottom 16px
    padding-left 8px
    position relative
    line-height 32px
    &:before
      position absolute
      content ""
      height 14px
      width 2px
      left 0
      top 9px
      background #0078ff

.ant-tabs-bar
  margin-bottom 24px

// antd 表头不换行
.ant-table
  overflow auto
  .ant-table-tbody>tr>td,
  .ant-table-thead>tr>th
    white-space nowrap
.ant-table-placeholder
  font-size 12px

/*************** 版本间尺寸差异 ******************/
// fix 3.10.4==>>>3.18.2表单报错字号
.ant-form-explain, .ant-form-extra
  font-size 12px

// fix: error modal框内容不对齐问题
.ant-modal-confirm-body .ant-modal-confirm-content
  margin-top 0

// confirm字体太大
.dt-ant-12 .ant-modal-confirm-body .ant-modal-confirm-content
  font-size 12px
  display block
  padding-top 8px

// Badge字体太大
.ant-badge-status-text
  font-size 12px
  min-width 200px

// 截断提示  
.ant-tooltip.tooltip-light
  .ant-tooltip-inner
    background-color #fff
    color #666
  &.ant-tooltip-placement-right
    .ant-tooltip-arrow
      border-right-color #fff

.ant-tooltip-inner
  min-width 120px