html
  .ant-legacy-form label
    font-size 12px !important

  .ant-legacy-form-explain
    font-size 12px !important
  .ant-legacy-form-extra
    font-size 12px !important

  /* 5.0样式 -- 表格 */
  .ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td
    padding 8px 16px
    line-height 23px
    border-bottom 1px solid rgba(0,0,0, .04)
  .ant-pagination-item
    min-width 24px
    height 24px
    line-height 22px

  .ant-pagination-prev, .ant-pagination-next, .ant-pagination-jump-prev, .ant-pagination-jump-next
    min-width 24px
    width 24px
    height 24px
    line-height 22px
  .ant-pagination-total-text
    height 24px
    line-height 24px
  .ant-pagination-prev .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link
    line-height 10px

  .ant-table-row-1
    background-color #fbfbfb
  .ant-table-thead > tr > th
    background-color #f6f6f6
    color rgba(0,0,0,.45) 

  .ant-table-tbody >.ant-table-row:hover > td 
     background-color rgba(36,102,255,0.10) // #2466FF 10%
   
  /* 5.0样式 -- 按钮 */
  .ant-btn
    height 24px
    line-height 24px
    padding 0px 8px
  .ant-form-item .ant-upload
    margin-top 4px

  /* 5.0样式 -- 选择框 */
  .ant-select-single:not(.ant-select-customize-input) .ant-select-selector
    height 24px
  .ant-select-single .ant-select-selector .ant-select-selection-item, .ant-select-single .ant-select-selector .ant-select-selection-placeholder
    line-height 24px
  .ant-select-single:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input
    height 22px
  .ant-select-multiple.ant-select-sm .ant-select-selection-item
    line-height 12.8px

  /* .ant-select-multiple .ant-select-selector
  * height 24px
  * .ant-select-multiple .ant-select-selection-search
  * height 24px */

  /* 5.0 -- 输入框 */
  .ant-input
    height 24px
  // 时间类
  .ant-picker
    height 24px

  // uikit时间选择组件 更新兼容
  .ant-form-item-control-wrapper
    padding-top 4px

  /* 5.0 -- tabs字体 */
  .ant-tabs-tab
    font-size 14px

  /* 5.0 -- 表单 */
  .ant-legacy-form-item-label > label 
    color rgba(0, 0, 0, 0.65)
  form .ant-mentions, form textarea.ant-input
    margin-top 4px
  .ant-form-item
    margin-bottom 8px
  .ant-form-item:last-child
    margin-bottom 0px

  /* 5.0 -- 抽屉 */
  .ant-drawer-title
    font-size 16px

