html
  .ant-legacy-form label
    font-size 12px !important
  .ant-legacy-form-explain
    font-size 12px !important
  .ant-legacy-form-extra
    font-size 12px !important

  /* 5.0样式 -- 表格 */
  // 单元格样式
  .ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td
    padding 8px 16px
    line-height 23px
    border-bottom 1px solid rgba(0,0,0, .04)
  .ant-table-row-1
    background-color #fbfbfb
  .ant-table-thead > tr > th
    background-color #f6f6f6
    color rgba(0,0,0,.45) 
  .ant-table-tbody >.ant-table-row:hover > td 
     background-color rgba(36,102,255,0.10) // #2466FF 10%

  // 分页-每页按钮大小
  .ant-pagination-item
    min-width 24px
    height 24px
    line-height 22px
  // 分页左右切换大小、居中 
  .ant-pagination-prev, .ant-pagination-next, .ant-pagination-jump-prev, .ant-pagination-jump-next
    min-width 24px
    width 24px
    height 24px
    line-height 22px
  // 统一切换的a和button
  .ant-pagination-prev .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link
    padding 0px
  // 总记录大小
  .ant-pagination-total-text
    height 24px
    line-height 24px

  /* 5.0 -- 表单 */
  // .ant-legacy-form-item-label > label 
  //   color rgba(0, 0, 0, 0.65)
  // .ant-form-item
  //   margin-bottom 8px

  // // 封装表单组件行高统一为32
  // .ant-legacy-form-item-label
  //   line-height 32px
  // .ant-legacy-form-item-control
  //   line-height 32px
  // // 没项表单上下间距16 8+4+4
  // .ant-legacy-form-item
  //   margin-bottom 8px

  // // 表单文本域上下对齐
  // form textarea.ant-input
  //   margin-top 4px
  // // 上传按钮上下居中
  // .ant-form-item .ant-upload
  //   margin-top 4px 

  /* 非封装表单 */
  // 左侧高度
  .ant-form-item-label > label
    height 24px
  // 右侧高度
  .ant-form-item-control-input
    min-height 24px
  // 表单项上下间距16
  .ant-form-item
    margin-bottom 16px
  // 左颜色
  .ant-form-item-label > label
    color rgba(0, 0, 0, 0.65)

  /* 封装表单 */
  // 左侧高度
  .ant-legacy-form-item-label
    line-height 24px
  // 右侧高度
  .ant-legacy-form-item-control
    line-height 24px
  // 表单项上下间距16
  .ant-legacy-form-item
    margin-bottom 16px
  // 左颜色
  .ant-legacy-form-item-label > label 
    color rgba(0, 0, 0, 0.65)

  // 文本域有4px mb?
  form textarea.ant-input
    margin-bottom 0px

  /* 5.0样式 -- 按钮大小 */
  .ant-btn
    height 24px
    line-height 24px
    padding 0px 8px

  /* 5.0样式 -- 选择框 */
  .ant-select-single:not(.ant-select-customize-input) .ant-select-selector
    height 24px
  .ant-select-single .ant-select-selector .ant-select-selection-item, .ant-select-single .ant-select-selector .ant-select-selection-placeholder
    line-height 24px
  .ant-select-single:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input
    height 22px

  // 多选框选项大小
  .ant-select-multiple.ant-select-sm .ant-select-selection-item
    height 16px
    line-height 16px
  // 多选框选项内边距
  .ant-select-multiple .ant-select-selection-item
    margin-top 0px
    margin-bottom 0px

  /* .ant-select-multiple .ant-select-selector
  * height 24px
  * .ant-select-multiple .ant-select-selection-search
  * height 24px */

  /* 5.0 -- 输入框 */
  .ant-input
    height 24px
  // 时间类
  .ant-picker
    height 24px

  /* 5.0 -- tabs字体 */
  .ant-tabs-tab
    font-size 14px

  /* 5.0 -- 抽屉标题 */
  .ant-drawer-title
    font-size 16px

