@import "./antd-cover.styl"

.oner-frame .oner-frame-body .oner-frame-content
  background-color #f3f4f9
.tag-content
  min-height calc(100vh - 48px)
  // background #F4F6F9
  background #f0f2f5

.box-border
  border 1px solid #E6EDF8
  border-radius 2px
  background #ffffff

/* header */
.content-header
  line-height 56px
  font-size 16px
  padding-left 16px
  background #ffffff
  color rgba(0,0,0, .85)
  border-bottom 1px solid #E6EDF8

/* 普通页面 start */
/* 待确认 加了3px边框 */
.header-page
  min-height calc(100vh - 139px)
  margin 16px
  background #ffffff
  border 1px solid #E6EDF8
  border-radius 2px
  
/* 普通列表页面 end */
.bgf
  background #ffffff

.a-href-color
  color #0078ff

.comp-tab
  background #ffffff
  
  .ant-tabs-bar
    margin-bottom 0
    padding-left 16px


/* 列表操作项 分割线 样式 */
.table-action-line
  display inline-block
  height 14px
  width 1px
  background rgba(0,0,0,0.09)
  margin 0 8px

.disabled
  color: rgba(0, 0, 0, 0.25)
  cursor: not-allowed

// .ant-table-placeholder
//   border-bottom  0 none


 /* 时间选择组件 */
.time-range-wrap
  text-align right
  margin-top -48px
  margin-bottom 16px


.chart-title
  font-size 14px
  margin-bottom 16px
  // padding-left 8px
  position relative
  line-height 24px

/* .chart-title:before 
 * position absolute
 * content ""
 * height 14px
 * width 3px
 * left 0
 * top 9px
 * background #0078FF */