.search-config-label
  width 100px
  color rgba(0,0,0,.5)

.search-config-value
  width 300px
  overflow hidden
  color rgba(0,0,0,.7)
  text-overflow ellipsis
  white-space wrap
  word-break break-all

.config-data
  display flex
  justify-content space-between
  color rgba(0,0,0,.85)
  font-weight 500
  margin-bottom 12px
  font-size 14px

.search-config-item
  display flex
  align-items center
  min-height 40px
  // border-bottom 1px solid rgba(0,0,0,.09)
