.search-config-label
  width 100px
  color rgba(0,0,0,.5)

.search-config-value
  width 300px
  overflow hidden
  color rgba(0,0,0,.7)
  text-overflow ellipsis
  white-space wrap
  word-break break-all

.search-config-item
  display flex
  align-items center
  min-height 48px
  // border-bottom 1px solid rgba(0,0,0,.09)
