$pre-cls='dt-ncard'

.{$pre-cls}
  display flex
  flex-direction column
  background #ffffff
  margin-bottom 16px
  font-size 12px
  // cursor pointer
  border-radius 4px
  border .5px solid #E3E9F0
  border-top 2px solid #91D5FF  
  -webkit-transition all .2s linear
  transition all .2s linear
  overflow hidden
 
  ul, li
    margin 0
    padding 0
    list-style none

  // &:hover
  //   -webkit-box-shadow 0px 3px 10px #DDE0E4
  //   box-shadow 0px 3px 10px #DDE0E4
  //   -webkit-transform translate3d(0, -2px, 0)
  //   transform translate3d(0, -2px, 0)

  &:hover .hover-style
    color #0078FF !important

  .{$pre-cls}-wrap
    flex 1
    padding 16px 24px 0px

    .{$pre-cls}-head 
      font-size 16px
      max-height 24px
      margin-bottom 8px
      padding-right 20px
      display flex
      align-items center
      position relative

      &-title
        margin-right 8px
        color rgba(0, 0, 0, .85)
        -webkit-transition all .2s linear
        transition all .2s linear

      i
        position absolute
        right -4px
        font-size 14px
        color rgba(0, 0, 0, .25)
        -webkit-transition all .2s linear
        transition all .2s linear

    .{$pre-cls}-info 
      display flex
      margin-bottom 5px
      color rgba(0, 0, 0, .45)

      &-item
        margin-right 8px

      &-item:last-child
        margin-right 0px

    .{$pre-cls}-descr
      color rgba(0, 0, 0, .65) 
      margin-bottom 8px

    .{$pre-cls}-topic
      display flex
      padding-top 6px
      margin-bottom 5px
      border-top .5px solid  #EFEFF0
      color rgba(0, 0, 0, .45)

      &-count
        font-size 20px
        color #0078FF 

      &-line
        width 1px
        height 30px
        background #EFEFF0
        margin 9px 28px 0

  .{$pre-cls}-actions
    background rgba(194, 223, 255,0.08)
    zoom 1 
    padding-right 8px

    &::after 
      display table 
      clear both 
      content ''

    li
      float right
      height 32px
      display flex
      align-items center

      button
        color #919EAB 
        -webkit-transition all .2s linear
        transition all .2s linear

        &:hover
          color #0078FF 

    &-line
        display inline-block
        width 1px
        height 12px
        margin 10px 8px
        background rgba(181, 194, 206, .3)

  .card-omit
    overflow hidden
    text-overflow ellipsis
    word-break keep-all
    white-space nowrap

  