.group
  position relative

.group-combine
  width 90%
  padding 0 24px
  position relative

.group-item
  margin-bottom 24px
  position relative

  .line
    position absolute
    width 50px
    height 1px
    background #dddddd
    top 21px
    left -50px
  
  .group-item-header
    background rgba(243,244,249,0.80)
    line-height 42px
    padding 0 16px
    font-size 14px
    color rgba(0, 0, 0, .65)

  .group-item-content
    padding 16px
    background rgba(243,244,249,0.40)
    position relative


.wrap-rule-condition
   position absolute
   border-left 1px solid #dddddd
   width 50px

   .wrap-rule-condition-btn
      position absolute
      left -22px
      z-index 100

   .wrap-rule-condition-line
      position absolute
      width 70px
      height 1px
      background #dddddd
      left -70px

// .rule-item
//   position relative

//   .rule-item-line
//     position absolute
//     width 50px
//     height 1px
//     background #dddddd
//     top 16px
//     left -50px

//   .rule-item-action
//     position absolute
//     top 12px
//     right -16px
//     color #919eab
//     font-size 14px
    
// .rule-condition
//    position absolute
//    border-left 1px solid #dddddd
//    width 50px

//    .rule-condition-btn
//       position absolute
//       left -22px
//       z-index 100

//    .rule-condition-line
//       position absolute
//       width 70px
//       height 1px
//       background #dddddd
//       left -70px

